@import "./../_cv-page__base/media-query-mixins.scss";

.header{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  &__el{
    width: 100vw;
    @include mobile{
      width: 50%;
    };
  }
  &__pic{
    background-color: black;
    background-image: url("./components/cv-page/header/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    @include mobile{
      height: 50vw;
    };
  }
  &__about-me{
    // padding-left: 20px;
    background-color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 80vw;
    font-family: 'Cinzel', serif;
    @include mobile{
      height: 50vw;
    };
    &__me{
      width: 80%;
      text-align: center;
      @include mobile{
        width: 90%;
      };
    }
    &__contact-info{
      display: flex;
      flex-direction: column;
      width: 80%;
      // align-items: center;
      @include mobile{
        width: 90%;
      };
      &__item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // border: 1px solid red;
        &__text{
          // border: 1px solid green;
          text-decoration: none;
          color: black;
          font-size: 12px;
          padding: 4px;
          @include mobile{
          };
        }
        &__icon{
          // border: 1px solid blue;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          min-width:33px;
          min-height:33px;
          margin: 3px;
        }
        @each $icon in birth-date, phone, e-mail, address{
          &__icon_#{$icon}{
            background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_#{$icon}.svg");
          }
        }
      }
    }//contact-info
    &__welcome-text{
      text-align: center;
      width: 80%;
      @include mobile{
        width: 90%;
      };
    }
  }//about-me
}//header
