@import "./../../_cv-page__base/media-query-mixins.scss";
@import "./../__section-text-mixin/section-text-mixin.scss";

.interests{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  &__el{
    width: 100vw;
    height: 300px;
    // border: 1px solid green;
    @include mobile{
      width: 50%;
      height: 50vw;
    };
  }
  @include section-text-mixin( black,white,330px );
  @include mobile{
    @include section-text-mixin( white,black,330px );
  };
  &__content{
    @include mobile{
      background-color: black;
    };
  }
}
