@import "./../../_cv-page__base/media-query-mixins.scss";
@import "./../__section-text-mixin/section-text-mixin.scss";
@import "./../../_cv-page__base/cv-page__base__variables.scss";

//mixin for the circles
@mixin circles($biggestCircleSize){
  &_item_dark-main{
    font-size: $biggestCircleSize*0.11;
    width: $biggestCircleSize;
    height: $biggestCircleSize;
    border: 8px solid $color__primary_olive;
    position: relative;
    &_lightest{
      font-size: $biggestCircleSize*0.09;
      left: -$biggestCircleSize*0.59;
      top:$biggestCircleSize*0.35;
      width: $biggestCircleSize*0.7;
      height: $biggestCircleSize*0.7;
      // background-color: $color__primary_navy-blue;
      position: absolute;
    }
    &_light{
      font-size: $biggestCircleSize*0.11;
      left: -$biggestCircleSize*0.37;
      top:-$biggestCircleSize*0.1;
      width: $biggestCircleSize*0.6;
      height: $biggestCircleSize*0.6;
      // background-color: $color__primary_black;
      position: absolute;
    }
    &_darkest{
      font-size: $biggestCircleSize*0.11;
      right: -$biggestCircleSize*0.37;
      top:$biggestCircleSize*0.55;
      width: $biggestCircleSize*0.6;
      height: $biggestCircleSize*0.6;
      // background-color: $color__primary_grey;
      position: absolute;
    }
  }//dark
}

// main container
.interests{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  &__el{
    width: 100vw;
    height: 300px;
    // border: 1px solid green;
    @include mobile{
      width: 50vw;
      height: 50vw;
    };
  }
  //mixin where was pass correspondingly: color,background-color,width,height in mobile,tablet and laptop.
  @include section-text-mixin( black,white,290px,white,black,290px,white,black,370px,320px);
  &__content{
    @include mobile{
      background-color: black;
      height: 50vw;
    };
  }
}
  .interests__content{
    width: 100%;
    // border: 1px solid red;
    .interests__cirles{
      width: 80%;
      padding-left: 24vw;
      // border: 1px solid blue;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: bold;
      margin-top: 6vw;
      @include mobile{
        margin-top: 4vw;
        padding-left: 14vw;
      };
      @include tablet{
        margin: 8vw 0 6vw 0;
        padding-left: 16vw;
      };
      &_item{
        text-transform: capitalize;
        color: $color__primary_black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color__primary_white;
        border: 5px solid $color__primary_black;

      }
      //here we pass the size of the intersts circles to the mixin above
      @include circles(160px);
      @include mobile{
        @include circles(140px);
      };
      @include tablet{
        @include circles(180px);
      };
      @include laptop{
        @include circles(220px);
      };
    }
  }
