@import "./../../_cv-page__base/media-query-mixins.scss";
@import "./../__section-text-mixin/section-text-mixin.scss";
@import "./../../_cv-page__base/_cv-page__base__variables.scss";
//function and mixing used in creatin
@function changeColor($i){
  @if $i == green {@return rgba(0,237,0,255);}
  @if $i == orange {@return rgba(247,78,23,1);}
  @if $i == grey {@return rgba(190,190,190,255);}
  @if $i == olive {@return rgba(191, 194, 21, 1);}
  @if $i == yellow {@return rgba(193,159,19,1);}
}
@mixin pseudoEl($color){
  &::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 50%;
    top:35px;
    left:-7px;
    background-color: changeColor($color);
    transform: skewX(13deg);
    @include mobile{
      top:50%;
    };
  }
  &::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 51%;
    top:0px;
    left:-7px;
    background-color: changeColor($color);
    transform: skewX(-13deg);
  }
}

.portfolio{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  &__el{
    width: 100vw;
    height: 500px;
    // border: 1px solid green;
    @include mobile{
      width: 50%;
      height: 50vw;
    };
  }
  //mixin where was pass correspondingly: color,background-color,width,height in mobile,tablet and laptop.
  @include section-text-mixin( black,white,175px,white,black,180px,white,black,290px,240px);
  &__content{
    background-color: $color__primary_white;


    @include mobile{
      background-color: $color__primary_black;
    };
  }
}

.portfolio__projects{
  width: 100%;
  height: 500px;
  // border: 1px solid red;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile{
    width: 100%;
    height: 77%;
  };
  &__project{
    // border: 1px solid yellow;
    margin-top: 15px;
    width: 90%;
    height: 70px;
    display: flex;
    padding-left: 1.5vw;
    @include mobile{
      width: 95%;
      height: 55px;
      margin-top: 5px;
    };
    @include tablet{
      margin-top: 1vw;
    };

    &__no{
      width: 12%;
      background-color: $color__primary_white;
      display: flex;
      justify-content: flex-start;
      font-family: 'Rokkitt',serif;
      align-items: center;
      font-size: 40px;
      line-height: 40px;
      @include mobile{
        background-color: $color__primary_black;
        color: $color__primary_white;
        width: 11.5%;
      };
    }
    &__main{
      width: 85%;
      position: relative;
      display: flex;
      align-items: center;
      background-color: $color__primary_black;
      color: $color__primary_white;
      @each $i in green,orange,olive,yellow,grey {
        &_#{$i}{
          @include pseudoEl(olive);
          &:hover{
            @include pseudoEl($i);
            background-color: changeColor($i);
          }
        }
      }
      &__icon{
        padding-top: 5px;
        // border: 1px solid red;
        font: normal 18px 'Pacifico',cursive;
        margin-left: 2vw;
        height: 40px;
        width: 58%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        @include mobile{
          height: 30px;
          padding-top: 0;
        };
        @include tablet{
          height: 50px;
          width: 63%;
          padding-top: 5px;
          font-size: 23px;
        };
        @each $i in ultramarathon, cvproject, findyourfilm {
          &_#{$i}{
            background-image: url('./components/cv-page/main/portfolio/images/#{$i}.png');
          }
        }
        &_pawellicznerski{
          font: normal 15px 'Rokkitt',cursive;
          padding-top: 10px;
          @include mobile{
            font-size: 13px;
            padding-top: 6px;
          };
          @include tablet{
            font-size: 20.5px;
            line-height: 20px;
            padding: 15px 0 0 0;
          };
        }
      }
      &__link{
        font: bold 15px 'rokkitt',serif;
        width: 50px;
        height: 50px;
        border-radius: 29px;
        color: $color__primary_black;
        background-color:$color__primary_white;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        @include mobile{
          width: 38px;
          height: 38px;
          font-size: 11.5px;
          color: $color__primary_white;
          background-color:$color__primary_black;
          border:2px dotted $color__primary_white;
        };
        @include tablet{
          margin: 0 1vw;
          width: 44px;
          height: 44px;
          font-size: 13.5px;
        };
        @each $i in ultramarathon {
          &_#{$i}{
            background-image: url('./components/cv-page/main/portfolio/images/#{$i}.svg');
          }
        }
        &:hover{
          animation: buttonBgr 0.4s ease-in forwards;
        }
      }
    }
  }
}

@keyframes buttonBgr {
    0%   {color: $color__primary_white; background-color:$color__primary_black;}
    100% {color: $color__primary_black; background-color:$color__primary_white;}
}
