@import "./../../_cv-page__base/media-query-mixins.scss";
@import "./../__section-text-mixin/section-text-mixin.scss";
@import "./../../_cv-page__base/cv-page__base__variables.scss";


.experience{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  &__el{
    width: 100vw;
    height: 300px;
    @include mobile{
      width: 50%;
      height: 56vw;
    };
  }
  //mixin where was pass correspondingly: color,background-color,width,height.
  @include section-text-mixin( black,white,259px/*mobile*/,black,white,259px/*tablet*/,black,white,340px,310px/*laptop*/,black,white,440px,400px/*laptop*/);
}
  .experience__content{
    background-color: $color__primary_white;
    display: flex;
    flex-direction: column;
    height: 570px;
    @include mobile{
      width:50vw;
      height: 56vw;
    };
    &__chart{
      display: flex;
    }
    &__section{
    width:49vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile{
      width:25vw;
    };
      &_left{
        padding-right: 9px;
      }
      &_right{
        border-left: 3px solid black;
      }
    }

    &__section__el{
      background-color: $color__primary_black;
      width: 42vw;
      min-height: 220px;
      max-height: 250px;
      margin: 0 0 10px 10px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      // background-color: $color__primary_black;
      border: 1px solid $color__primary_olive;
      border-radius: 14px;
      @include mobile{
        width: 21vw;
        min-height: 130px;
      };
      @include tablet{
        min-height: 170px;
      };
      @include laptop{
        min-height: 220px;
      };
      @include desktop{
        min-height: 260px;
      };
      &__text_title{
        margin: 3px;
        background-color: inherit;
        order: 1;
        width: 50%;
        word-wrap: break-word;
        color: $color__primary_white;
        @include mobile{
          font-size: 11px;
        };
        @include tablet{
          font-size: 16px;
        };
        @include laptop{
          font-size: 20px;
        };
        @include desktop{
          font-size: 25px;
          font-weight: bold;
        };
      }
      &__text_main{
        margin: 3px;
        background-color: inherit;
        order: 3;
        word-wrap: break-word;
        color: $color__primary_white;
        text-align: justify;
        @include mobile{
          font-size: 11px;
        };
        @include tablet{
          font-size: 14px;
        };
        @include laptop{
          font-size: 18px;
        };
        @include desktop{
          font-size: 21px;
        };
      }
      &__text_date{
        padding: 3px 3px 3px 6px;
        order: 2;
        width: 35%;
        word-wrap: break-word;
        border-left: 2px solid $color__primary_white;
        background-color: inherit;
        font-weight: bold;
        font-size: 20px;
        color: $color__primary_olive;
          @include mobile{
            font-size: 13px;
          };
          @include tablet{
            font-size: 17px;
          };
          @include laptop{
            font-size: 22px;
          };
          @include desktop{
            font-size: 29px;
          };
        }
    }
  }//experience2

  .experience__content__section__el__text_arrow{
    &::before{
      width: 14px;
      height: 28px;
      position: absolute;
      content: "";
      background-image: url("./components/cv-page/main/experience/experience_images_arrow.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .experience__content__section__el__text_arrow_left{
    &::before{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    right:-10px;
    top:20px;
    }
  }
  .experience__content__section__el__text_arrow_right{
    &::before{
    left:-12px;
    top:20px;
    }
  }
