// dates texts colors
@import "./../_education__base/education__base__variables.scss";
// addition background color for text in the progress bar
@import "./../../../_cv-page__base/cv-page__base__variables.scss";
//media query
@import "./../../../_cv-page__base/media-query-mixins.scss";
//in few situations replacing repeating
@mixin bgrAndFontColor($font-color,$bgr-color) {
  color:$font-color;
  background-color: $bgr-color;
}

//main container of the bars--------------------------------
.education__education-progress-bar{
  width:290px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  // border: 1px solid yellow;
  @include mobile{
    flex-direction: column;
    min-height: 244px;
  };
  @include tablet{
    width: 100%;
    min-height: 300px;
  };
  @include desktop{
    width: 90%;
  };
// the bars section is devided into three elements. Each has class el---------
  &__el{
    // border: 1px solid red;
    list-style-type: none;
    position: relative;
    padding: 0;
    width: 33.33%;
    margin-bottom: 30px;
    @include mobile{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      height: 80px;
    };
    @include tablet{
      height: 13vw;
    };
    @include desktop{
      min-height: 140px;
    };
// each element has four items each of them has class __item-----------
    &__item{
      margin: 0 9px;
      height: 100px;
      min-width: 18px;
      // border: 1px solid blue;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      @include mobile{
        width: 24%;
        margin: 1px;
        height: 60px
      };
      @include tablet{
        width: 20%;
        margin: 1px 1vw;
        height: 10vw;
      };
    }
  }
// the middle element (there are three of them) has the bar made of pseudo elemt
.education__education-progress-bar__el__item_line{
  &::before{
    content:"";
    position: absolute;
    left:0;
    width: 4px;
    height: 100px;
    background-color: $color__primary_olive;
    @include mobile{
      width: 25%;
      height: 4px;
      background-color: $color__primary_olive;
    };
  }
  @for $i from 0 through 2{
    &_#{$i}{
      &::before{
        top:50px+($i*100px);
        @include mobile{
          left:12.5%+($i*25%);
          top: 0px;
        };
      }
    }
  }
  &_3{
    &::before{
      content:none;
    }
  }
}
//all four items in three elements has the class below styling colors and fonts
.education__education-progress-bar__el__item__text{
  color:  $color__primary_black;
  font-size: 15px;
  @include mobile{
    color: $color__primary_white;
    font-size: 12.5px;
  };
  @include tablet{
    font-size: 14px;
  };
  @include laptop{
    font-size: 18px;
  };
  @include desktop{
    font-size: 26px;
  };
  &_color-background{
    font-weight: normal;
    @include bgrAndFontColor($color__primary_white,$color__primary_black);//first- font-color, second: bgr-color
    border-radius: 8px;
    padding: 5px 7px;
    @include mobile{
      @include bgrAndFontColor($color__primary_black,$color__primary_white);//first- font-color, second: bgr-color
    };
  }
//the circles in the middle element-------------------
    @for $i from 0 through 3 {
      &__circle-#{$i}{
        &::after{
          content:"";
          position: absolute;
          top: 50px-9px+($i *100px);
          left:-7px;
          width: 10px;
          height: 10px;
          background-color: $color__primary_white;
          border-radius: 50%;
          background-color: white;
          @include mobile{
            left:12.5%+($i*25%);
            top: -7px;
            border: 4px solid $color__primary_olive;
            background-color: $color__primary_black;
          };
        }
      }
    }//end of circle
  }//end of __text

}// end of the bar
