@import "./../_cv-page__base/_cv-page__base__variables";
@import "./../_cv-page__base/_media-query-mixins";
@mixin psedoElem($delayTime){
  &::before{
    animation: flipLetter .5s linear $delayTime forwards;
  }
  &::after{
    animation: flipLetter2 .5s linear $delayTime forwards;
  }
}
@keyframes flipLetter{
  100%{
    transform: rotateX(0deg) translateY(0px);
  }
}
@keyframes flipLetter2{
  100%{
    transform: rotateX(90deg) translateY(-30px);
  }
}


.footer{
  width: 100%;
  @include mobile{
    display: flex;
    flex-wrap: wrap;
  };
  &__section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @include mobile{
      width: 50%;
    };
    &__left{
      background-color: $color__primary_black;
      color: $color__primary_black;
      font-size: 1.6em;
      margin:0;
      // padding:0;
      padding: 8vh auto;

      &__word{
        position: relative;
        // transform-style: preserve-3d;
        &_letter{
          display: block;
          // height: 35px;
          border: 1px solid white;
          padding: 10px 0px;
          &::before{
            position: absolute;
            content: attr(title);
            top:0;
            left:0;
            background-color: white;
            color: black;
            padding: 10px 0px;
            border: 1px solid white;
            // transform-style: preserve-3d;
            transition: .3s;
            transform: rotateX(90deg) translateY(30px);
            transform-origin: bottom;
            animation: flipLetter .5s linear .5s forwards;
          }
          &::after{
            position: absolute;
            content: attr(title);
            top:0;
            left:0;
            background-color: black;
            color: black;
            padding: 10px 0px;
            border: 2px solid white;
            // transform-style: preserve-3d;
            transition: .3s;
            transform-origin: top;
            animation: flipLetter2 .5s linear .5s forwards;
          }
          @include psedoElem(.3s);

        }//letter

      }
    }
    &__right{
      font-size: 0.8em;
    }
  }
}
