@import "./../_cv-page__base/_cv-page__base__variables";
@import "./../_cv-page__base/_media-query-mixins";

.footer{
  width: 100%;
  @include mobile{
    display: flex;
    flex-wrap: wrap;
  };
  &__section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @include mobile{
      width: 50%;
    };
    &__left{
      background-color: $color__primary_black;
      color: $color__primary_white;
      font-size: 2.1em;
      margin:0;
      // padding:0;
      padding: 8vh auto;

      &__word{
        position: relative;
        // transform-style: preserve-3d;
        &_syllable{
          display: block;
          // height: 35px;
          border: 1px solid white;
          padding: 10px 0px;
          &::before{
            position: absolute;
            content: attr(title);
            top:0;
            left:0;
            background-color: white;
            color: black;
            padding: 10px 0px;
            border: 1px solid white;
            // transform-style: preserve-3d;
            transition: .3s;
            transform: rotateX(90deg) translateY(30px);
            transform-origin: bottom;
          }
          &:hover{
            &::before{
              transform: rotateX(0deg) translateY(0px);
            }
          }
          &::after{
            position: absolute;
            content: attr(title);
            top:0;
            left:0;
            background-color: black;
            color: white;
            padding: 10px 0px;
            border: 2px solid white;
            // transform-style: preserve-3d;
            transition: .3s;
            // // transform: rotateX(0deg) translateY(0px);
            transform-origin: top;
          }
          &:hover{
            &::after{
              transform: rotateX(90deg) translateY(-30px);
            }
          }
        }
      }
    }
    &__right{
      font-size: 0.8em;
    }
  }
}
