@import "./../_cv-page__base/_cv-page__base__variables";
@import "./../_cv-page__base/_media-query-mixins";
@mixin psedoElem($delayTime){
  &::before{
    animation: flipLetter .5s linear $delayTime forwards;
  }
  &::after{
    animation: flipLetter2 .5s linear $delayTime forwards;
  }
}
@keyframes flipLetter{
  100%{
    transform: rotateX(0deg) translateY(0px);
  }
}
@keyframes flipLetter2{
  100%{
    transform: rotateX(90deg) translateY(-30px);
  }
}


.footer{
  width: 100%;
  @include mobile{
    display: flex;
    flex-wrap: wrap;
  };
  &__section{
    width: 100%;
    height: 30vw;
    @include iphone{
      height: 40vw;
    };
    @include mobile{
      width: 50%;
      height: 20vw;
    };
    &__left{
      background-color: $color__primary_black;
      color: $color__primary_black;
      font-size: 2.4em;
      line-height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 15px;
      flex-wrap: wrap;
      @include iphone{
        font-size: 2em;
        line-height: 14px;
      };
      @include mobile{
        font-size: 1.8em;
        line-height: 19px;
      };
      @include tablet{
        font-size: 2.4em;
        line-height: 28px;
      };
      @include laptop{
        font-size: 3.4em;
        line-height: 48px;
      };
      @include desktop{
        font-size: 4.4em;
        line-height: 58px;
      };
      &__word{
        position: relative;
        // transform-style: preserve-3d;
        &_letter{
          display: block;
          border: 1px solid white;
          &::before{
            position: absolute;
            content: attr(title);
            top:0;
            left:0;
            background-color: white;
            color: black;
            padding: 10px 0px;
            border: 1px solid white;
            // transform-style: preserve-3d;
            transition: .3s;
            transform: rotateX(90deg) translateY(30px);
            transform-origin: bottom;
          }
          &::after{
            position: absolute;
            content: attr(title);
            top:0;
            left:0;
            background-color: black;
            color: black;
            padding: 10px 0px;
            border: 2px solid white;
            // transform-style: preserve-3d;
            transition: .7s;
            transform-origin: top;
          }
        }//letter
        @for $i from 1 through 8{
          &_letter_#{$i}{
            @include psedoElem(.2s+($i*0.3s));
          }
        }

      }
    }
    &__right{
      border: 1px solid blue;
      display: flex;
      // flex-wrap: wrap;
      justify-content: center;
      padding:10px;
      &__tick-box{
        // border:3px solid red;
        width: 15vw;
        height: 15vw;
        margin: 10px 15px 5px 5px;
        position: relative;
        overflow: hidden;
        background-color: rgba(0,0,0,0);
        border: 0;
        &__tick{
          height: 10vw;
          width: 5vw;
          margin: 2vw 0 0 5vw;
          transform: rotate(35deg);
          // border-bottom: 8px solid $color__primary_black;
          // border-right: 8px solid $color__primary_black;
          animation: borderAni .2s linear 4.7s forwards;
          @keyframes borderAni{
            0%{
              border-bottom: 0 solid $color__primary_black;
              border-right: 0 solid $color__primary_black;
            }
            100%{
              border-bottom: 8px solid $color__primary_black;
              border-right: 8px solid $color__primary_black;
            }
          }
        }
        &__border{
          content:"";
          position: absolute;
          background-color: $color__primary_olive;
        }
        &__border_1{
          top:0;
          left:0;
          width: 0;
          height: 6px;
          // @include tickAni(1,1.2s,0,0,15vw,4px);
          animation: Line1 .2s linear 3.7s forwards;
          @keyframes Line1{
            0%{
              width: 0;
            }
            100%{
              width: 15vw;
            }
          }
        }//1
        &__border_2{
          top:0;
          right:0;
          width: 6px;
          height: 0;
          animation: Line2 .2s linear 3.9s forwards;
          // @include tickAni(2,1.4s,0,0,4px,15vw);
          @keyframes Line2{
            0%{
              height: 0;
            }
            100%{
              height: 15vw;
            }
          }
        }//2
        &__border_3{
          bottom:0;
          right:0;
          width: 0;
          height: 6px;
          animation: Line3 .2s linear 4.1s forwards;
          // @include tickAni(3,1.6s,0,100%,15vw,4px);
          @keyframes Line3{
            0%{
              width: 0;
            }
            100%{
              width: 15vw;
            }
          }
        }//3
        &__border_4{
          bottom:0;
          left:0;
          width: 6px;
          height: 0;
          animation: Line4 .2s linear 4.3s forwards;
          // @include tickAni(4,1.8s,100%,0,4px,15vw);
          @keyframes Line4{
            0%{
              height: 0;
            }
            100%{
              height: 15vw;
            }
          }
        }//4
      }//tick-box

      &__text{
        // min-width: 270px;
        font-size: 0.8em;
        border: 1px solid green;
        width: 73vw;
      }
    }//footer section right
  }//footer section for the two parts
}
