@import "./../../_cv-page__base/media-query-mixins.scss";

@mixin section-text-mixin($text-background-color,$text-color,$text-width) {
  &__text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $text-background-color;//------------
    text-transform: uppercase;
    &_break{
      color: $text-color;//--------------
      font-family: 'Rokkitt', serif;
      // font-family: 'Cinzel', serif;
      // border: 1px solid red;
      width: $text-width;//------------------
      height: 180px;
      font-size: 80px;
      line-height: 60px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold;
    }
  }
}
