.header {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .header__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .header__el {
        width: 50%;
        height: 50vw; } }
  .header__pic {
    background-color: #000005;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .header__about-me {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .header__about-me__cv {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'rokkitt',serif;
      color: #fdfdfd;
      height: 39px;
      width: 39px;
      background-color: #bfc215;
      border-radius: 20px;
      font-size: 25px;
      margin-right: 10px;
      padding-top: 3px; }
    .header__about-me__me {
      width: 80%;
      text-align: center;
      font-size: 23px;
      margin-top: 10px; }
      @media (min-width: 600px) {
        .header__about-me__me {
          width: 90%;
          margin-top: 20px; } }
      @media (min-width: 760px) {
        .header__about-me__me {
          margin-top: 3vw; } }
      .header__about-me__me_name {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'rokkitt',serif; }
        @media (min-width: 600px) {
          .header__about-me__me_name {
            font-size: 29px;
            line-height: 27px; } }
        @media (min-width: 760px) {
          .header__about-me__me_name {
            font-size: 35px; } }
        @media (min-width: 760px) {
          .header__about-me__me_name {
            font-size: 50px; } }
      .header__about-me__me_profession {
        font-size: 15px;
        text-transform: uppercase; }
        @media (min-width: 600px) {
          .header__about-me__me_profession {
            font-size: 12px; } }
    .header__about-me__contact-info {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-bottom: 5px;
      font-size: 14px; }
      @media (min-width: 600px) {
        .header__about-me__contact-info {
          width: 90%;
          font-size: 14px; } }
      @media (min-width: 760px) {
        .header__about-me__contact-info {
          width: 300px; } }
      .header__about-me__contact-info__item {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .header__about-me__contact-info__item__text {
          text-decoration: none;
          color: #153a54;
          padding: 4px 4px 4px 40px; }
          @media (min-width: 600px) {
            .header__about-me__contact-info__item__text {
              padding: 4px 4px 4px 10px; } }
          @media (min-width: 760px) {
            .header__about-me__contact-info__item__text {
              padding: 12px 12px 12px 3vw; } }
        .header__about-me__contact-info__item__icon {
          border: 3px solid #bfc215;
          border-radius: 18px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 15px 15px;
          min-width: 25px;
          min-height: 25px;
          margin: 3px; }
        .header__about-me__contact-info__item__icon_birth-date {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_birth-date.svg"); }
        .header__about-me__contact-info__item__icon_phone {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_phone.svg"); }
        .header__about-me__contact-info__item__icon_e-mail {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_e-mail.svg"); }
        .header__about-me__contact-info__item__icon_address {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_address.svg"); }
    .header__about-me__welcome-text {
      margin-bottom: 14px;
      text-align: center;
      width: 80%; }
      @media (min-width: 600px) {
        .header__about-me__welcome-text {
          width: 90%; } }
      @media (min-width: 760px) {
        .header__about-me__welcome-text {
          width: 70%;
          font-size: 14px;
          margin-bottom: 3vw; } }

.portfolio {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .portfolio__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .portfolio__el {
        width: 50%;
        height: 50vw; } }
  .portfolio__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .portfolio__text {
        background-color: white; } }
    @media (min-width: 760px) {
      .portfolio__text {
        background-color: white; } }
    .portfolio__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 175px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .portfolio__text_break {
          color: black;
          width: 180px; } }
      @media (min-width: 760px) {
        .portfolio__text_break {
          color: black;
          width: 290px;
          font-size: 120px;
          line-height: 80px;
          height: 240px; } }
  .portfolio__content {
    background-color: white; }
    @media (min-width: 600px) {
      .portfolio__content {
        background-color: black; } }

.competence {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .competence__el {
    width: 100vw;
    height: 300px;
    border: 1px solid green; }
    @media (min-width: 600px) {
      .competence__el {
        width: 50%;
        height: 50vw; } }
  .competence__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .competence__text {
        background-color: black; } }
    @media (min-width: 760px) {
      .competence__text {
        background-color: black; } }
    .competence__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 175px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .competence__text_break {
          color: white;
          width: 180px; } }
      @media (min-width: 760px) {
        .competence__text_break {
          color: white;
          width: 290px;
          font-size: 120px;
          line-height: 80px;
          height: 240px; } }
  .competence__content {
    background-color: white; }

.competence-bars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  @media (min-width: 1000px) {
    .competence-bars {
      margin-bottom: 50px; } }
  .competence-bars__section-name {
    padding-left: 10px;
    background-color: rgba(10, 10, 10, 0);
    display: flex; }
    .competence-bars__section-name__icon_competence {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 9px;
      height: 39px;
      width: 39px;
      background-color: #bfc215;
      border-radius: 20px;
      background-image: url("./components/cv-page/main/competence/competence__section-name__icon_competence.svg"); }
      @media (min-width: 600px) {
        .competence-bars__section-name__icon_competence {
          margin: 3.5vw 0 4vw 0; } }
      @media (min-width: 1000px) {
        .competence-bars__section-name__icon_competence {
          margin: 5.5vw 0 6vw 4px; } }
    .competence-bars__section-name__text_competence {
      padding-left: 4px;
      text-transform: capitalize;
      font-family: 'Rokkitt',serif;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      margin-top: 13px; }
      @media (min-width: 600px) {
        .competence-bars__section-name__text_competence {
          font-size: 28px;
          margin: 4vw 0 4vw 4px; } }
      @media (min-width: 760px) {
        .competence-bars__section-name__text_competence {
          font-size: 35px; } }
      @media (min-width: 1000px) {
        .competence-bars__section-name__text_competence {
          font-size: 50px;
          margin: 6vw 0 5vw 9px; } }
  .competence-bars__el {
    padding: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (min-width: 600px) {
      .competence-bars__el {
        padding: 5px 0; } }
    @media (min-width: 760px) {
      .competence-bars__el {
        padding: 8px 0; } }
    .competence-bars__el__text {
      padding: 0 5px 0 18px;
      font-size: 15px;
      text-transform: capitalize; }
      @media (min-width: 760px) {
        .competence-bars__el__text {
          font-size: 18px; } }
      @media (min-width: 1000px) {
        .competence-bars__el__text {
          padding-left: 2vw;
          font-size: 27px; } }
    .competence-bars__el__bar {
      width: 50%;
      height: 14px;
      border: 3px solid black;
      border-radius: 9px;
      display: flex;
      justify-content: flex-start; }
      @media (min-width: 600px) {
        .competence-bars__el__bar {
          width: 40%; } }
      @media (min-width: 760px) {
        .competence-bars__el__bar {
          margin: 0 22px; } }
      @media (min-width: 1000px) {
        .competence-bars__el__bar {
          margin: 0 3vw 0 5px;
          width: 45%;
          height: 25px;
          border-radius: 10px; } }
      .competence-bars__el__bar_filling {
        height: 8px;
        border-radius: 8px;
        background-color: black;
        border: 3px solid black; }
        @media (min-width: 1000px) {
          .competence-bars__el__bar_filling {
            height: 19px;
            border-radius: 7px; } }
      .competence-bars__el__bar_filling_first {
        width: 90%; }
      .competence-bars__el__bar_filling_second {
        width: 40%; }
      .competence-bars__el__bar_filling_third {
        width: 30%; }
      .competence-bars__el__bar_filling_fourth {
        width: 40%; }
      .competence-bars__el__bar_filling_fifth {
        width: 40%; }
      .competence-bars__el__bar_filling_sixth {
        width: 30%; }
      .competence-bars__el__bar_filling_last {
        width: 40%; }

.education__education-progress-bar {
  width: 290px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 600px) {
    .education__education-progress-bar {
      flex-direction: column;
      min-height: 244px; } }
  @media (min-width: 760px) {
    .education__education-progress-bar {
      width: 100%;
      min-height: 300px; } }
  .education__education-progress-bar__el {
    list-style-type: none;
    position: relative;
    padding: 0;
    width: 33.33%;
    margin-bottom: 30px; }
    @media (min-width: 600px) {
      .education__education-progress-bar__el {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        height: 80px; } }
    @media (min-width: 760px) {
      .education__education-progress-bar__el {
        height: 13vw; } }
    .education__education-progress-bar__el__item {
      margin: 0 9px;
      height: 100px;
      min-width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      @media (min-width: 600px) {
        .education__education-progress-bar__el__item {
          width: 24%;
          margin: 1px;
          height: 60px; } }
      @media (min-width: 760px) {
        .education__education-progress-bar__el__item {
          width: 20%;
          margin: 1px 1vw;
          height: 10vw; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100px;
    background-color: #000005; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item_line::before {
        width: 25%;
        height: 4px;
        background-color: #fdfdfd; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line_0::before {
    top: 50px; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item_line_0::before {
        left: 12.5%;
        top: 0px; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line_1::before {
    top: 150px; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item_line_1::before {
        left: 37.5%;
        top: 0px; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line_2::before {
    top: 250px; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item_line_2::before {
        left: 62.5%;
        top: 0px; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line_3::before {
    content: none; }
  .education__education-progress-bar .education__education-progress-bar__el__item__text {
    color: #000005;
    font-size: 15px; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item__text {
        color: #fdfdfd;
        font-size: 12.5px; } }
    @media (min-width: 760px) {
      .education__education-progress-bar .education__education-progress-bar__el__item__text {
        font-size: 14px; } }
    @media (min-width: 1000px) {
      .education__education-progress-bar .education__education-progress-bar__el__item__text {
        font-size: 18px; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text_color-background {
      font-weight: normal;
      color: #fdfdfd;
      background-color: #000005;
      border-radius: 8px;
      padding: 5px 7px; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text_color-background {
          color: #000005;
          background-color: #fdfdfd; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-0::after {
      content: "";
      position: absolute;
      top: 41px;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 4px solid #000005;
      border-radius: 50%;
      background-color: white; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-0::after {
          left: 12.5%;
          top: -7px;
          border: 4px solid #fdfdfd;
          background-color: #000005; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-1::after {
      content: "";
      position: absolute;
      top: 141px;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 4px solid #000005;
      border-radius: 50%;
      background-color: white; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-1::after {
          left: 37.5%;
          top: -7px;
          border: 4px solid #fdfdfd;
          background-color: #000005; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-2::after {
      content: "";
      position: absolute;
      top: 241px;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 4px solid #000005;
      border-radius: 50%;
      background-color: white; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-2::after {
          left: 62.5%;
          top: -7px;
          border: 4px solid #fdfdfd;
          background-color: #000005; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-3::after {
      content: "";
      position: absolute;
      top: 341px;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 4px solid #000005;
      border-radius: 50%;
      background-color: white; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-3::after {
          left: 87.5%;
          top: -7px;
          border: 4px solid #fdfdfd;
          background-color: #000005; } }

.education {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .education__el {
    width: 100vw;
    min-height: 300px; }
    @media (min-width: 600px) {
      .education__el {
        width: 50vw;
        height: 50vw; } }
  .education__section-name {
    margin: 0 0 0 10px;
    background-color: rgba(10, 10, 10, 0);
    display: flex; }
    .education__section-name__icon_education {
      background-image: url("./components/cv-page/main/education/education__section-name__icon_education.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      margin: 9px 15px 4vw 0;
      height: 39px;
      width: 39px;
      background-color: #bfc215;
      border-radius: 20px; }
      @media (min-width: 600px) {
        .education__section-name__icon_education {
          margin: 1.5vw 9px 1.5vw 0; } }
      @media (min-width: 1000px) {
        .education__section-name__icon_education {
          margin: 3.5vw 0 2vw 4px; } }
    .education__section-name__text_education {
      padding-left: 14px;
      text-transform: capitalize;
      font-family: 'Rokkitt',serif;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      margin-top: 13px; }
      @media (min-width: 600px) {
        .education__section-name__text_education {
          color: white;
          font-size: 28px;
          margin: 2vw 0 1.5vw 0; } }
      @media (min-width: 760px) {
        .education__section-name__text_education {
          font-size: 35px; } }
      @media (min-width: 1000px) {
        .education__section-name__text_education {
          font-size: 50px;
          margin: 4vw 0 2vw 9px; } }
  .education__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .education__text {
        background-color: white; } }
    @media (min-width: 760px) {
      .education__text {
        background-color: white; } }
    .education__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 190px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .education__text_break {
          color: black;
          width: 190px; } }
      @media (min-width: 760px) {
        .education__text_break {
          color: black;
          width: 290px;
          font-size: 120px;
          line-height: 80px;
          height: 240px; } }
  .education__content {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px; }
    @media (min-width: 600px) {
      .education__content {
        background-color: black;
        height: 50vw; } }

.experience {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .experience__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .experience__el {
        width: 50%;
        height: 56vw; } }
  .experience__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .experience__text {
        background-color: black; } }
    @media (min-width: 760px) {
      .experience__text {
        background-color: black; } }
    .experience__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 259px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .experience__text_break {
          color: white;
          width: 259px; } }
      @media (min-width: 760px) {
        .experience__text_break {
          color: white;
          width: 340px;
          font-size: 120px;
          line-height: 80px;
          height: 310px; } }

.experience__content {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  height: 570px; }
  @media (min-width: 600px) {
    .experience__content {
      width: 50vw;
      height: 56vw; } }
  .experience__content__chart {
    display: flex; }
  .experience__content__section-name {
    background-color: #fdfdfd;
    color: #000005;
    display: flex;
    justify-content: center; }
    .experience__content__section-name__icon {
      background-image: url("./components/cv-page/main/experience/experience__section-name__icon_experience.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      margin: 19px 0 20px 0;
      height: 39px;
      width: 39px;
      background-color: #bfc215;
      border-radius: 20px; }
      @media (min-width: 600px) {
        .experience__content__section-name__icon {
          margin: 2.5vw 9px 2.5vw 0; } }
      @media (min-width: 1000px) {
        .experience__content__section-name__icon {
          margin: 3.5vw 0 2vw 4px; } }
    .experience__content__section-name__text {
      padding-left: 14px;
      text-transform: capitalize;
      font-family: 'Rokkitt',serif;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      margin: 23px 0 20px 0; }
      @media (min-width: 600px) {
        .experience__content__section-name__text {
          font-size: 28px;
          margin: 2vw 0 1.5vw 0; } }
      @media (min-width: 760px) {
        .experience__content__section-name__text {
          font-size: 35px;
          margin: 3vw 0 3vw 4px; } }
      @media (min-width: 1000px) {
        .experience__content__section-name__text {
          font-size: 50px;
          margin: 4vw 0 2vw 9px; } }
  .experience__content__section {
    width: 49vw;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 600px) {
      .experience__content__section {
        width: 25vw; } }
    .experience__content__section_left {
      padding-right: 9px; }
    .experience__content__section_right {
      border-left: 3px solid black; }
  .experience__content__section__el {
    background-color: #000005;
    width: 42vw;
    min-height: 220px;
    max-height: 250px;
    margin: 0 0 10px 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #bfc215;
    border-radius: 14px; }
    @media (min-width: 600px) {
      .experience__content__section__el {
        width: 21vw;
        min-height: 130px; } }
    @media (min-width: 760px) {
      .experience__content__section__el {
        min-height: 170px; } }
    @media (min-width: 1000px) {
      .experience__content__section__el {
        min-height: 220px; } }
    .experience__content__section__el__text_title {
      margin: 3px;
      background-color: inherit;
      order: 1;
      width: 50%;
      word-wrap: break-word;
      color: #fdfdfd; }
      @media (min-width: 600px) {
        .experience__content__section__el__text_title {
          font-size: 11px; } }
      @media (min-width: 760px) {
        .experience__content__section__el__text_title {
          font-size: 16px; } }
      @media (min-width: 1000px) {
        .experience__content__section__el__text_title {
          font-size: 20px; } }
    .experience__content__section__el__text_main {
      margin: 3px;
      background-color: inherit;
      order: 3;
      word-wrap: break-word;
      color: #fdfdfd;
      text-align: justify; }
      @media (min-width: 600px) {
        .experience__content__section__el__text_main {
          font-size: 11px; } }
      @media (min-width: 760px) {
        .experience__content__section__el__text_main {
          font-size: 14px; } }
      @media (min-width: 1000px) {
        .experience__content__section__el__text_main {
          font-size: 18px; } }
    .experience__content__section__el__text_date {
      padding: 3px 3px 3px 6px;
      order: 2;
      width: 35%;
      word-wrap: break-word;
      border-left: 2px solid #fdfdfd;
      background-color: inherit;
      font-weight: bold;
      font-size: 20px;
      color: #bfc215; }
      @media (min-width: 600px) {
        .experience__content__section__el__text_date {
          font-size: 13px; } }
      @media (min-width: 760px) {
        .experience__content__section__el__text_date {
          font-size: 17px; } }
      @media (min-width: 1000px) {
        .experience__content__section__el__text_date {
          font-size: 22px; } }

.experience__content__section__el__text_arrow::before {
  width: 14px;
  height: 28px;
  position: absolute;
  content: "";
  background-image: url("./components/cv-page/main/experience/experience_images_arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.experience__content__section__el__text_arrow_left::before {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  right: -10px;
  top: 20px; }

.experience__content__section__el__text_arrow_right::before {
  left: -12px;
  top: 20px; }

.interests {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .interests__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .interests__el {
        width: 50vw;
        height: 50vw; } }
  .interests__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .interests__text {
        background-color: white; } }
    @media (min-width: 760px) {
      .interests__text {
        background-color: white; } }
    .interests__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 290px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .interests__text_break {
          color: black;
          width: 290px; } }
      @media (min-width: 760px) {
        .interests__text_break {
          color: black;
          width: 370px;
          font-size: 120px;
          line-height: 80px;
          height: 320px; } }
  @media (min-width: 600px) {
    .interests__content {
      background-color: black; } }
  .interests__section-name {
    padding-left: 10px;
    background-color: rgba(10, 10, 10, 0);
    display: flex; }
    .interests__section-name__icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 9px;
      height: 39px;
      width: 39px;
      background-color: #bfc215;
      border-radius: 20px;
      background-image: url("./components/cv-page/main/interests/interests__section-name__icon_interests.svg"); }
      @media (min-width: 600px) {
        .interests__section-name__icon {
          margin: 3.5vw 0 4vw 0; } }
      @media (min-width: 1000px) {
        .interests__section-name__icon {
          margin: 5.5vw 0 6vw 4px; } }
    .interests__section-name__text {
      padding-left: 4px;
      text-transform: capitalize;
      font-family: 'Rokkitt',serif;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      margin-top: 13px; }
      @media (min-width: 600px) {
        .interests__section-name__text {
          font-size: 28px;
          margin: 4vw 0 4vw 4px; } }
      @media (min-width: 760px) {
        .interests__section-name__text {
          font-size: 35px; } }
      @media (min-width: 1000px) {
        .interests__section-name__text {
          font-size: 50px;
          margin: 6vw 0 5vw 9px; } }

.interests__content {
  width: 100%;
  margin-bottom: 10px; }
  .interests__content .interests__cirles {
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold; }
    .interests__content .interests__cirles_item {
      text-transform: capitalize;
      color: #000005;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fdfdfd;
      border: 5px solid #000005; }
    .interests__content .interests__cirles_item_dark-main {
      font-size: 17.6px;
      width: 160px;
      height: 160px;
      position: relative; }
      .interests__content .interests__cirles_item_dark-main_lightest {
        font-size: 14.4px;
        left: -94.4px;
        top: 56px;
        width: 112px;
        height: 112px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_light {
        font-size: 17.6px;
        left: -59.2px;
        top: -16px;
        width: 96px;
        height: 96px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_darkest {
        font-size: 17.6px;
        right: -59.2px;
        top: 88px;
        width: 96px;
        height: 96px;
        position: absolute; }

.page {
  font-family: 'Lora', serif; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }
