.header {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .header__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .header__el {
        width: 50%;
        height: 50vw; } }
  .header__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000005; }
    .header__pic_style {
      width: 270px;
      height: 270px;
      border: 1px solid black;
      border-radius: 50%;
      background-color: #000005;
      background-image: url("./components/cv-page/header/__header__contact-info__images/main.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -20px 0; }
      @media (min-width: 600px) {
        .header__pic_style {
          width: 70%;
          height: 70%;
          margin-bottom: 2vw; } }
  .header__about-me {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .header__about-me__cv {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'rokkitt',serif;
      color: #fdfdfd;
      height: 39px;
      width: 39px;
      background-color: #bfc215;
      border-radius: 20px;
      font-size: 25px;
      margin-right: 10px;
      padding-top: 3px; }
      @media (min-width: 1000px) {
        .header__about-me__cv {
          margin: 1.5vw 14px 2vw 0;
          background-size: 32px 32px;
          height: 58px;
          width: 58px;
          border-radius: 29px; } }
    .header__about-me__me {
      width: 80%;
      text-align: center;
      font-size: 23px;
      margin-top: 10px; }
      @media (min-width: 600px) {
        .header__about-me__me {
          width: 90%;
          margin-top: 20px; } }
      @media (min-width: 760px) {
        .header__about-me__me {
          margin-top: 3vw; } }
      .header__about-me__me_name {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'rokkitt',serif; }
        @media (min-width: 600px) {
          .header__about-me__me_name {
            font-size: 29px;
            line-height: 27px; } }
        @media (min-width: 760px) {
          .header__about-me__me_name {
            font-size: 35px; } }
        @media (min-width: 1000px) {
          .header__about-me__me_name {
            font-size: 50px; } }
        @media (min-width: 1400px) {
          .header__about-me__me_name {
            font-size: 69px; } }
      .header__about-me__me_profession {
        font-size: 15px;
        text-transform: uppercase; }
        @media (min-width: 600px) {
          .header__about-me__me_profession {
            font-size: 12px; } }
        @media (min-width: 1400px) {
          .header__about-me__me_profession {
            font-size: 25px; } }
    .header__about-me__contact-info {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-bottom: 5px;
      font-size: 14px; }
      @media (min-width: 600px) {
        .header__about-me__contact-info {
          width: 90%;
          font-size: 14px; } }
      @media (min-width: 760px) {
        .header__about-me__contact-info {
          width: 300px; } }
      @media (min-width: 1400px) {
        .header__about-me__contact-info {
          font-size: 25px;
          width: 450px; } }
      .header__about-me__contact-info__item {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .header__about-me__contact-info__item__text {
          text-decoration: none;
          color: #153a54;
          padding: 4px 4px 4px 40px; }
          @media (min-width: 600px) {
            .header__about-me__contact-info__item__text {
              padding: 4px 4px 4px 10px; } }
          @media (min-width: 760px) {
            .header__about-me__contact-info__item__text {
              padding: 12px 12px 12px 3vw; } }
        .header__about-me__contact-info__item__icon {
          border: 3px solid #bfc215;
          border-radius: 18px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 15px 15px;
          min-width: 25px;
          min-height: 25px;
          margin: 3px; }
          @media (min-width: 1400px) {
            .header__about-me__contact-info__item__icon {
              border: 4px;
              background-size: 25px 25px;
              min-width: 35px;
              min-height: 35px;
              margin: 4px; } }
        .header__about-me__contact-info__item__icon_birth-date {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_birth-date.svg"); }
        .header__about-me__contact-info__item__icon_phone {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_phone.svg"); }
        .header__about-me__contact-info__item__icon_e-mail {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_e-mail.svg"); }
        .header__about-me__contact-info__item__icon_address {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_address.svg"); }
    .header__about-me__welcome-text {
      margin-bottom: 14px;
      text-align: center;
      width: 80%; }
      @media (min-width: 600px) {
        .header__about-me__welcome-text {
          width: 90%; } }
      @media (min-width: 760px) {
        .header__about-me__welcome-text {
          width: 70%;
          font-size: 14px;
          margin-bottom: 3vw; } }
      @media (min-width: 1400px) {
        .header__about-me__welcome-text {
          font-size: 25px; } }

.portfolio {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .portfolio__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .portfolio__el {
        width: 50%;
        height: 50vw; } }
  .portfolio__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .portfolio__text {
        background-color: white; } }
    @media (min-width: 760px) {
      .portfolio__text {
        background-color: white; } }
    .portfolio__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 175px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .portfolio__text_break {
          color: black;
          width: 180px; } }
      @media (min-width: 760px) {
        .portfolio__text_break {
          color: black;
          width: 290px;
          font-size: 120px;
          line-height: 80px;
          height: 240px; } }
      @media (min-width: 1400px) {
        .portfolio__text_break {
          color: black;
          width: 420px;
          font-size: 180px;
          line-height: 120px;
          height: 380px; } }
  .portfolio__content {
    background-color: #fdfdfd;
    height: 500px; }
    @media (min-width: 600px) {
      .portfolio__content {
        background-color: #000005;
        height: 50vw; } }

.portfolio__projects {
  width: 100%;
  height: 500px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 600px) {
    .portfolio__projects {
      width: 100%;
      height: 77%; } }
  @media (min-width: 1000px) {
    .portfolio__projects {
      width: 100%;
      height: 85%; } }
  @media (min-width: 1400px) {
    .portfolio__projects {
      height: 80%; } }
  .portfolio__projects__project {
    margin-top: 15px;
    width: 90%;
    height: 70px;
    display: flex;
    padding-left: 1.5vw; }
    @media (min-width: 600px) {
      .portfolio__projects__project {
        width: 95%;
        height: 55px;
        margin-top: 5px; } }
    @media (min-width: 760px) {
      .portfolio__projects__project {
        margin-top: 1vw; } }
    @media (min-width: 1400px) {
      .portfolio__projects__project {
        width: 80%;
        height: 70px; } }
    .portfolio__projects__project__no {
      width: 12%;
      background-color: #fdfdfd;
      display: flex;
      justify-content: flex-start;
      font-family: 'Rokkitt',serif;
      align-items: center;
      font-size: 40px;
      line-height: 40px; }
      @media (min-width: 600px) {
        .portfolio__projects__project__no {
          background-color: #000005;
          color: #fdfdfd;
          width: 11.5%; } }
      @media (min-width: 1400px) {
        .portfolio__projects__project__no {
          font-size: 48px;
          line-height: 48px; } }
    .portfolio__projects__project__main {
      width: 85%;
      position: relative;
      display: flex;
      align-items: center;
      background-color: #000005;
      color: #fdfdfd; }
      .portfolio__projects__project__main::before {
        content: '';
        position: absolute;
        width: 13px;
        height: 50%;
        top: 35px;
        left: -7px;
        transform: skewX(13deg); }
        @media (min-width: 600px) {
          .portfolio__projects__project__main::before {
            top: 50%; } }
      .portfolio__projects__project__main::after {
        content: '';
        position: absolute;
        width: 13px;
        height: 51%;
        top: 0px;
        left: -7px;
        transform: skewX(-13deg); }
      .portfolio__projects__project__main_green::before {
        background-color: #bfc215; }
      .portfolio__projects__project__main_green::after {
        background-color: #bfc215; }
      .portfolio__projects__project__main_green:hover {
        background-color: #00ed00; }
        .portfolio__projects__project__main_green:hover::before {
          background-color: #00ed00; }
        .portfolio__projects__project__main_green:hover::after {
          background-color: #00ed00; }
      .portfolio__projects__project__main_orange::before {
        background-color: #bfc215; }
      .portfolio__projects__project__main_orange::after {
        background-color: #bfc215; }
      .portfolio__projects__project__main_orange:hover {
        background-color: #f74e17; }
        .portfolio__projects__project__main_orange:hover::before {
          background-color: #f74e17; }
        .portfolio__projects__project__main_orange:hover::after {
          background-color: #f74e17; }
      .portfolio__projects__project__main_olive::before {
        background-color: #bfc215; }
      .portfolio__projects__project__main_olive::after {
        background-color: #bfc215; }
      .portfolio__projects__project__main_olive:hover {
        background-color: #bfc215; }
        .portfolio__projects__project__main_olive:hover::before {
          background-color: #bfc215; }
        .portfolio__projects__project__main_olive:hover::after {
          background-color: #bfc215; }
      .portfolio__projects__project__main_yellow::before {
        background-color: #bfc215; }
      .portfolio__projects__project__main_yellow::after {
        background-color: #bfc215; }
      .portfolio__projects__project__main_yellow:hover {
        background-color: #c19f13; }
        .portfolio__projects__project__main_yellow:hover::before {
          background-color: #c19f13; }
        .portfolio__projects__project__main_yellow:hover::after {
          background-color: #c19f13; }
      .portfolio__projects__project__main_grey::before {
        background-color: #bfc215; }
      .portfolio__projects__project__main_grey::after {
        background-color: #bfc215; }
      .portfolio__projects__project__main_grey:hover {
        background-color: #bebebe; }
        .portfolio__projects__project__main_grey:hover::before {
          background-color: #bebebe; }
        .portfolio__projects__project__main_grey:hover::after {
          background-color: #bebebe; }
      .portfolio__projects__project__main__icon {
        padding-top: 5px;
        font: normal 18px 'Pacifico',cursive;
        margin-left: 2vw;
        height: 40px;
        width: 58%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain; }
        @media (min-width: 600px) {
          .portfolio__projects__project__main__icon {
            height: 30px;
            padding-top: 0; } }
        @media (min-width: 760px) {
          .portfolio__projects__project__main__icon {
            height: 50px;
            width: 63%;
            font-size: 23px; } }
        @media (min-width: 1400px) {
          .portfolio__projects__project__main__icon {
            padding-top: 12px;
            height: 65px;
            font-size: 27px; } }
        .portfolio__projects__project__main__icon_ultramarathon {
          background-image: url("./components/cv-page/main/portfolio/images/ultramarathon.png"); }
        .portfolio__projects__project__main__icon_cvproject {
          background-image: url("./components/cv-page/main/portfolio/images/cvproject.png"); }
        .portfolio__projects__project__main__icon_findyourfilm {
          background-image: url("./components/cv-page/main/portfolio/images/findyourfilm.png"); }
        .portfolio__projects__project__main__icon_pawellicznerski {
          font: normal 15px 'Rokkitt',cursive;
          padding-top: 10px; }
          @media (min-width: 600px) {
            .portfolio__projects__project__main__icon_pawellicznerski {
              font-size: 13px;
              padding-top: 6px; } }
          @media (min-width: 760px) {
            .portfolio__projects__project__main__icon_pawellicznerski {
              font-size: 20.5px;
              line-height: 20px;
              padding-top: 15px; } }
          @media (min-width: 1400px) {
            .portfolio__projects__project__main__icon_pawellicznerski {
              font-size: 25px;
              line-height: 25px;
              padding-top: 22px; } }
      .portfolio__projects__project__main__link {
        font: bold 15px 'rokkitt',serif;
        width: 50px;
        height: 50px;
        border-radius: 29px;
        color: #000005;
        background-color: #fdfdfd;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none; }
        @media (min-width: 600px) {
          .portfolio__projects__project__main__link {
            width: 38px;
            height: 38px;
            font-size: 11.5px;
            color: #fdfdfd;
            background-color: #000005;
            border: 2px dotted #fdfdfd; } }
        @media (min-width: 760px) {
          .portfolio__projects__project__main__link {
            margin: 0 1vw;
            width: 44px;
            height: 44px;
            font-size: 13.5px; } }
        @media (min-width: 1400px) {
          .portfolio__projects__project__main__link {
            width: 50px;
            height: 50px;
            font-size: 15px; } }
        .portfolio__projects__project__main__link_ultramarathon {
          background-image: url("./components/cv-page/main/portfolio/images/ultramarathon.svg"); }
        .portfolio__projects__project__main__link:hover {
          animation: buttonBgr 0.4s ease-in forwards; }

@keyframes buttonBgr {
  0% {
    color: #fdfdfd;
    background-color: #000005; }
  100% {
    color: #000005;
    background-color: #fdfdfd; } }

.competence {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .competence__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .competence__el {
        width: 50vw;
        height: 50vw; } }
  .competence__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .competence__text {
        background-color: black; } }
    @media (min-width: 760px) {
      .competence__text {
        background-color: black; } }
    .competence__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 175px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .competence__text_break {
          color: white;
          width: 180px; } }
      @media (min-width: 760px) {
        .competence__text_break {
          color: white;
          width: 290px;
          font-size: 120px;
          line-height: 80px;
          height: 240px; } }
      @media (min-width: 1400px) {
        .competence__text_break {
          color: white;
          width: 400px;
          font-size: 180px;
          line-height: 120px;
          height: 380px; } }
  .competence__content {
    background-color: white; }

.competence-bars {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media (min-width: 600px) {
    .competence-bars {
      margin-top: 1vw; } }
  .competence-bars__el {
    padding: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (min-width: 600px) {
      .competence-bars__el {
        padding: 6px 0; } }
    @media (min-width: 760px) {
      .competence-bars__el {
        padding: 8px 0; } }
    @media (min-width: 1400px) {
      .competence-bars__el {
        padding: 14px 0; } }
    .competence-bars__el__text {
      padding: 0 5px 0 18px;
      font-size: 15px;
      text-transform: capitalize; }
      @media (min-width: 760px) {
        .competence-bars__el__text {
          font-size: 18px; } }
      @media (min-width: 1000px) {
        .competence-bars__el__text {
          padding-left: 2vw;
          font-size: 27px; } }
      @media (min-width: 1400px) {
        .competence-bars__el__text {
          padding-left: 3vw;
          font-size: 30px; } }
    .competence-bars__el__bar {
      width: 50%;
      height: 14px;
      border: 3px solid #000005;
      border-radius: 9px;
      display: flex;
      justify-content: flex-start; }
      @media (min-width: 760px) {
        .competence-bars__el__bar {
          margin: 0 22px; } }
      @media (min-width: 1000px) {
        .competence-bars__el__bar {
          margin: 0 3vw 0 5px;
          width: 45%;
          height: 25px;
          border-radius: 10px; } }
      .competence-bars__el__bar_filling {
        height: 8px;
        border-radius: 8px;
        background-color: #000005;
        border: 3px solid #000005; }
        @media (min-width: 1000px) {
          .competence-bars__el__bar_filling {
            height: 20px;
            border-radius: 7px; } }
      .competence-bars__el__bar_filling_first {
        width: 90%;
        background-color: #bfc215;
        border: 3px solid #bfc215; }
      .competence-bars__el__bar_filling_second {
        width: 40%; }
      .competence-bars__el__bar_filling_third {
        width: 30%;
        background-color: #153a54;
        border: 3px solid #153a54; }
      .competence-bars__el__bar_filling_fourth {
        width: 40%; }
      .competence-bars__el__bar_filling_fifth {
        width: 40%; }
      .competence-bars__el__bar_filling_sixth {
        width: 30%;
        background-color: #153a54;
        border: 3px solid #153a54; }
      .competence-bars__el__bar_filling_last {
        width: 40%; }

.education__education-progress-bar {
  width: 290px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 600px) {
    .education__education-progress-bar {
      flex-direction: column;
      min-height: 244px; } }
  @media (min-width: 760px) {
    .education__education-progress-bar {
      width: 100%;
      min-height: 300px; } }
  @media (min-width: 1400px) {
    .education__education-progress-bar {
      width: 90%; } }
  .education__education-progress-bar__el {
    list-style-type: none;
    position: relative;
    padding: 0;
    width: 33.33%;
    margin-bottom: 30px; }
    @media (min-width: 600px) {
      .education__education-progress-bar__el {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        height: 80px; } }
    @media (min-width: 760px) {
      .education__education-progress-bar__el {
        height: 13vw; } }
    @media (min-width: 1400px) {
      .education__education-progress-bar__el {
        height: auto;
        width: 95%; } }
    .education__education-progress-bar__el__item {
      margin: 0 9px;
      height: 100px;
      min-width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      @media (min-width: 600px) {
        .education__education-progress-bar__el__item {
          width: 24%;
          margin: 1px;
          height: 60px; } }
      @media (min-width: 760px) {
        .education__education-progress-bar__el__item {
          width: 20%;
          margin: 1px 1vw;
          height: 10vw; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100px;
    background-color: #bfc215; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item_line::before {
        width: 25%;
        height: 4px;
        background-color: #bfc215; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line_0::before {
    top: 50px; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item_line_0::before {
        left: 12.5%;
        top: 0px; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line_1::before {
    top: 150px; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item_line_1::before {
        left: 37.5%;
        top: 0px; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line_2::before {
    top: 250px; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item_line_2::before {
        left: 62.5%;
        top: 0px; } }
  .education__education-progress-bar .education__education-progress-bar__el__item_line_3::before {
    content: none; }
  .education__education-progress-bar .education__education-progress-bar__el__item__text {
    color: #000005;
    font-size: 15px; }
    @media (min-width: 600px) {
      .education__education-progress-bar .education__education-progress-bar__el__item__text {
        color: #fdfdfd;
        font-size: 12.5px; } }
    @media (min-width: 760px) {
      .education__education-progress-bar .education__education-progress-bar__el__item__text {
        font-size: 14px; } }
    @media (min-width: 1000px) {
      .education__education-progress-bar .education__education-progress-bar__el__item__text {
        font-size: 18px; } }
    @media (min-width: 1400px) {
      .education__education-progress-bar .education__education-progress-bar__el__item__text {
        font-size: 26px; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text_color-background {
      font-weight: normal;
      color: #fdfdfd;
      background-color: #000005;
      border-radius: 8px;
      padding: 5px 7px; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text_color-background {
          color: #000005;
          background-color: #fdfdfd; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-0::after {
      content: "";
      position: absolute;
      top: 41px;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 4px solid #bfc215;
      background-color: #fdfdfd;
      border-radius: 50%;
      background-color: white; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-0::after {
          left: 12.5%;
          top: -7px;
          background-color: #000005; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-1::after {
      content: "";
      position: absolute;
      top: 141px;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 4px solid #bfc215;
      background-color: #fdfdfd;
      border-radius: 50%;
      background-color: white; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-1::after {
          left: 37.5%;
          top: -7px;
          background-color: #000005; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-2::after {
      content: "";
      position: absolute;
      top: 241px;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 4px solid #bfc215;
      background-color: #fdfdfd;
      border-radius: 50%;
      background-color: white; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-2::after {
          left: 62.5%;
          top: -7px;
          background-color: #000005; } }
    .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-3::after {
      content: "";
      position: absolute;
      top: 341px;
      left: -7px;
      width: 10px;
      height: 10px;
      border: 4px solid #bfc215;
      background-color: #fdfdfd;
      border-radius: 50%;
      background-color: white; }
      @media (min-width: 600px) {
        .education__education-progress-bar .education__education-progress-bar__el__item__text__circle-3::after {
          left: 87.5%;
          top: -7px;
          background-color: #000005; } }

.education {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .education__el {
    width: 100vw;
    min-height: 300px; }
    @media (min-width: 600px) {
      .education__el {
        width: 50vw;
        height: 50vw; } }
  .education__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .education__text {
        background-color: white; } }
    @media (min-width: 760px) {
      .education__text {
        background-color: white; } }
    .education__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 190px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .education__text_break {
          color: black;
          width: 190px; } }
      @media (min-width: 760px) {
        .education__text_break {
          color: black;
          width: 290px;
          font-size: 120px;
          line-height: 80px;
          height: 240px; } }
      @media (min-width: 1400px) {
        .education__text_break {
          color: black;
          width: 410px;
          font-size: 180px;
          line-height: 120px;
          height: 380px; } }
  .education__content {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px; }
    @media (min-width: 600px) {
      .education__content {
        background-color: black;
        height: 50vw; } }
    @media (min-width: 600px) {
      .education__content {
        justify-content: flex-start; } }

.experience {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .experience__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .experience__el {
        width: 50%;
        height: 56vw; } }
  .experience__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .experience__text {
        background-color: black; } }
    @media (min-width: 760px) {
      .experience__text {
        background-color: black; } }
    .experience__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 259px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .experience__text_break {
          color: white;
          width: 259px; } }
      @media (min-width: 760px) {
        .experience__text_break {
          color: white;
          width: 340px;
          font-size: 120px;
          line-height: 80px;
          height: 310px; } }
      @media (min-width: 1400px) {
        .experience__text_break {
          color: white;
          width: 510px;
          font-size: 180px;
          line-height: 120px;
          height: 475px; } }

.experience__content {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  height: 570px; }
  @media (min-width: 600px) {
    .experience__content {
      width: 50vw;
      height: 56vw; } }
  .experience__content__chart {
    display: flex; }
  .experience__content__section {
    width: 49vw;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 600px) {
      .experience__content__section {
        width: 25vw; } }
    .experience__content__section_left {
      padding-right: 9px; }
    .experience__content__section_right {
      border-left: 3px solid black; }
  .experience__content__section__el {
    background-color: #000005;
    width: 42vw;
    min-height: 220px;
    max-height: 250px;
    margin: 0 0 10px 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #bfc215;
    border-radius: 14px; }
    @media (min-width: 600px) {
      .experience__content__section__el {
        width: 21vw;
        min-height: 130px; } }
    @media (min-width: 760px) {
      .experience__content__section__el {
        min-height: 170px; } }
    @media (min-width: 1000px) {
      .experience__content__section__el {
        min-height: 220px; } }
    @media (min-width: 1400px) {
      .experience__content__section__el {
        min-height: 260px; } }
    .experience__content__section__el__text_title {
      margin: 3px;
      background-color: inherit;
      order: 1;
      width: 50%;
      word-wrap: break-word;
      color: #fdfdfd; }
      @media (min-width: 600px) {
        .experience__content__section__el__text_title {
          font-size: 11px; } }
      @media (min-width: 760px) {
        .experience__content__section__el__text_title {
          font-size: 16px; } }
      @media (min-width: 1000px) {
        .experience__content__section__el__text_title {
          font-size: 20px; } }
      @media (min-width: 1400px) {
        .experience__content__section__el__text_title {
          font-size: 25px;
          font-weight: bold; } }
    .experience__content__section__el__text_main {
      margin: 3px;
      background-color: inherit;
      order: 3;
      word-wrap: break-word;
      color: #fdfdfd;
      text-align: justify; }
      @media (min-width: 600px) {
        .experience__content__section__el__text_main {
          font-size: 11px; } }
      @media (min-width: 760px) {
        .experience__content__section__el__text_main {
          font-size: 14px; } }
      @media (min-width: 1000px) {
        .experience__content__section__el__text_main {
          font-size: 18px; } }
      @media (min-width: 1400px) {
        .experience__content__section__el__text_main {
          font-size: 21px; } }
    .experience__content__section__el__text_date {
      padding: 3px 3px 3px 6px;
      order: 2;
      width: 35%;
      border-left: 2px solid #fdfdfd;
      background-color: inherit;
      font-weight: bold;
      font-size: 20px;
      color: #bfc215; }
      @media (min-width: 600px) {
        .experience__content__section__el__text_date {
          font-size: 13px; } }
      @media (min-width: 760px) {
        .experience__content__section__el__text_date {
          font-size: 17px; } }
      @media (min-width: 1000px) {
        .experience__content__section__el__text_date {
          font-size: 22px; } }
      @media (min-width: 1400px) {
        .experience__content__section__el__text_date {
          font-size: 36px; } }

.experience__content__section__el__text_arrow::before {
  width: 14px;
  height: 28px;
  position: absolute;
  content: "";
  background-image: url("./components/cv-page/main/experience/experience_images_arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.experience__content__section__el__text_arrow_left::before {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  right: -10px;
  top: 20px; }

.experience__content__section__el__text_arrow_right::before {
  left: -12px;
  top: 20px; }

.interests {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .interests__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .interests__el {
        width: 50vw;
        height: 50vw; } }
  .interests__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .interests__text {
        background-color: white; } }
    @media (min-width: 760px) {
      .interests__text {
        background-color: white; } }
    .interests__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 290px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .interests__text_break {
          color: black;
          width: 290px; } }
      @media (min-width: 760px) {
        .interests__text_break {
          color: black;
          width: 370px;
          font-size: 120px;
          line-height: 80px;
          height: 320px; } }
      @media (min-width: 1400px) {
        .interests__text_break {
          color: black;
          width: 560px;
          font-size: 180px;
          line-height: 120px;
          height: 480px; } }
  @media (min-width: 600px) {
    .interests__content {
      background-color: #000005;
      height: 50vw; } }

.interests__content .interests__cirles {
  width: 80%;
  padding-left: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-top: 6vw; }
  @media (min-width: 600px) {
    .interests__content .interests__cirles {
      margin-top: 4vw;
      padding-left: 14vw; } }
  @media (min-width: 760px) {
    .interests__content .interests__cirles {
      margin: 8vw 0 6vw 0;
      padding-left: 16vw; } }
  .interests__content .interests__cirles_item {
    text-transform: capitalize;
    color: #000005;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    border: 5px solid #000005; }
  .interests__content .interests__cirles_item_dark-main {
    font-size: 17.6px;
    width: 160px;
    height: 160px;
    border: 8px solid #bfc215;
    position: relative; }
    @media (min-width: 760px) {
      .interests__content .interests__cirles_item_dark-main {
        border: 14px solid #bfc215; } }
    @media (min-width: 1400px) {
      .interests__content .interests__cirles_item_dark-main {
        border: 18px solid #bfc215; } }
    .interests__content .interests__cirles_item_dark-main_lightest {
      font-size: 14.4px;
      left: -94.4px;
      top: 56px;
      width: 112px;
      height: 112px;
      position: absolute; }
    .interests__content .interests__cirles_item_dark-main_light {
      font-size: 17.12px;
      left: -59.2px;
      top: -16px;
      width: 96px;
      height: 96px;
      position: absolute; }
    .interests__content .interests__cirles_item_dark-main_darkest {
      font-size: 17.6px;
      right: -59.2px;
      top: 88px;
      width: 96px;
      height: 96px;
      position: absolute; }
  @media (min-width: 600px) {
    .interests__content .interests__cirles_item_dark-main {
      font-size: 15.4px;
      width: 140px;
      height: 140px;
      border: 8px solid #bfc215;
      position: relative; } }
  @media (min-width: 600px) and (min-width: 760px) {
    .interests__content .interests__cirles_item_dark-main {
      border: 14px solid #bfc215; } }
  @media (min-width: 600px) and (min-width: 1400px) {
    .interests__content .interests__cirles_item_dark-main {
      border: 18px solid #bfc215; } }
  @media (min-width: 600px) {
      .interests__content .interests__cirles_item_dark-main_lightest {
        font-size: 12.6px;
        left: -82.6px;
        top: 49px;
        width: 98px;
        height: 98px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_light {
        font-size: 14.98px;
        left: -51.8px;
        top: -14px;
        width: 84px;
        height: 84px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_darkest {
        font-size: 15.4px;
        right: -51.8px;
        top: 77px;
        width: 84px;
        height: 84px;
        position: absolute; } }
  @media (min-width: 760px) {
    .interests__content .interests__cirles_item_dark-main {
      font-size: 19.8px;
      width: 180px;
      height: 180px;
      border: 8px solid #bfc215;
      position: relative; } }
  @media (min-width: 760px) and (min-width: 760px) {
    .interests__content .interests__cirles_item_dark-main {
      border: 14px solid #bfc215; } }
  @media (min-width: 760px) and (min-width: 1400px) {
    .interests__content .interests__cirles_item_dark-main {
      border: 18px solid #bfc215; } }
  @media (min-width: 760px) {
      .interests__content .interests__cirles_item_dark-main_lightest {
        font-size: 16.2px;
        left: -106.2px;
        top: 63px;
        width: 126px;
        height: 126px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_light {
        font-size: 19.26px;
        left: -66.6px;
        top: -18px;
        width: 108px;
        height: 108px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_darkest {
        font-size: 19.8px;
        right: -66.6px;
        top: 99px;
        width: 108px;
        height: 108px;
        position: absolute; } }
  @media (min-width: 1000px) {
    .interests__content .interests__cirles_item_dark-main {
      font-size: 24.2px;
      width: 220px;
      height: 220px;
      border: 8px solid #bfc215;
      position: relative; } }
  @media (min-width: 1000px) and (min-width: 760px) {
    .interests__content .interests__cirles_item_dark-main {
      border: 14px solid #bfc215; } }
  @media (min-width: 1000px) and (min-width: 1400px) {
    .interests__content .interests__cirles_item_dark-main {
      border: 18px solid #bfc215; } }
  @media (min-width: 1000px) {
      .interests__content .interests__cirles_item_dark-main_lightest {
        font-size: 19.8px;
        left: -129.8px;
        top: 77px;
        width: 154px;
        height: 154px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_light {
        font-size: 23.54px;
        left: -81.4px;
        top: -22px;
        width: 132px;
        height: 132px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_darkest {
        font-size: 24.2px;
        right: -81.4px;
        top: 121px;
        width: 132px;
        height: 132px;
        position: absolute; } }
  @media (min-width: 1400px) {
    .interests__content .interests__cirles_item_dark-main {
      font-size: 31.9px;
      width: 290px;
      height: 290px;
      border: 8px solid #bfc215;
      position: relative; } }
  @media (min-width: 1400px) and (min-width: 760px) {
    .interests__content .interests__cirles_item_dark-main {
      border: 14px solid #bfc215; } }
  @media (min-width: 1400px) and (min-width: 1400px) {
    .interests__content .interests__cirles_item_dark-main {
      border: 18px solid #bfc215; } }
  @media (min-width: 1400px) {
      .interests__content .interests__cirles_item_dark-main_lightest {
        font-size: 26.1px;
        left: -171.1px;
        top: 101.5px;
        width: 203px;
        height: 203px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_light {
        font-size: 31.03px;
        left: -107.3px;
        top: -29px;
        width: 174px;
        height: 174px;
        position: absolute; }
      .interests__content .interests__cirles_item_dark-main_darkest {
        font-size: 31.9px;
        right: -107.3px;
        top: 159.5px;
        width: 174px;
        height: 174px;
        position: absolute; } }

.section-el-header {
  padding-bottom: 10px;
  background-color: rgba(10, 10, 100, 0);
  display: flex;
  justify-content: center; }
  @media (min-width: 600px) {
    .section-el-header {
      padding-bottom: 0; } }
  @media (min-width: 1400px) {
    .section-el-header {
      margin: 2.5vw 0 1vw 0; } }
  .section-el-header__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    margin-top: 9px;
    height: 39px;
    width: 39px;
    background-color: #bfc215;
    border-radius: 20px; }
    .section-el-header__icon_competence {
      background-image: url("./components/cv-page/main/__section__el_header/section__el_header_competence.svg"); }
    .section-el-header__icon_education {
      background-image: url("./components/cv-page/main/__section__el_header/section__el_header_education.svg"); }
    .section-el-header__icon_experience {
      background-image: url("./components/cv-page/main/__section__el_header/section__el_header_experience.svg"); }
    .section-el-header__icon_interests {
      background-image: url("./components/cv-page/main/__section__el_header/section__el_header_interests.svg"); }
    .section-el-header__icon_portfolio {
      background-image: url("./components/cv-page/main/__section__el_header/section__el_header_portfolio.svg"); }
    @media (min-width: 600px) {
      .section-el-header__icon {
        margin: 1.5vw 0 2vw 0; } }
    @media (min-width: 1000px) {
      .section-el-header__icon {
        margin: 1.5vw 0 3vw 0;
        background-size: 32px 32px;
        height: 58px;
        width: 58px;
        border-radius: 29px; } }
    @media (min-width: 1400px) {
      .section-el-header__icon {
        margin: 2vw 0 3vw 0; } }
  .section-el-header__text {
    padding-left: 4px;
    text-transform: capitalize;
    font-family: 'Rokkitt',serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    margin-top: 13px; }
    @media (min-width: 600px) {
      .section-el-header__text {
        font-size: 28px;
        margin: 2vw 0 2vw 0;
        padding-left: 18px; } }
    @media (min-width: 760px) {
      .section-el-header__text {
        font-size: 35px; } }
    @media (min-width: 1000px) {
      .section-el-header__text {
        font-size: 50px;
        margin: 3vw 0 2vw 0; } }
    @media (min-width: 1400px) {
      .section-el-header__text {
        font-size: 69px;
        margin: 3vw 0 2vw 0; } }
    @media (min-width: 600px) {
      .section-el-header__text_color-change {
        color: #fdfdfd;
        background-color: #000005; } }

.footer {
  width: 100vw; }
  @media (min-width: 600px) {
    .footer {
      display: flex;
      flex-wrap: wrap; } }
  .footer__section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; }
    @media (min-width: 600px) {
      .footer__section {
        width: 50vw; } }
    .footer__section_left {
      background-color: #000005;
      color: #fdfdfd;
      font-size: 1em; }
    .footer__section_right {
      font-size: 0.8em; }

.page {
  font-family: 'Lora', serif; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }
