.header {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .header__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .header__el {
        width: 50%;
        height: 50vw; } }
  .header__pic {
    background-color: #000005;
    background-image: url("./components/cv-page/header/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .header__about-me {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lora', serif; }
    .header__about-me__me {
      font-family: 'Lora', cursive;
      width: 80%;
      text-align: center;
      font-size: 23px;
      margin-top: 10px; }
      @media (min-width: 600px) {
        .header__about-me__me {
          width: 90%;
          margin-top: 20px; } }
      @media (min-width: 760px) {
        .header__about-me__me {
          margin-top: 3vw; } }
      @media (min-width: 600px) {
        .header__about-me__me_name {
          font-size: 29px;
          line-height: 27px; } }
      .header__about-me__me_profession {
        font-size: 15px;
        text-transform: uppercase; }
        @media (min-width: 600px) {
          .header__about-me__me_profession {
            font-size: 12px; } }
    .header__about-me__contact-info {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-bottom: 5px;
      font-size: 14px; }
      @media (min-width: 600px) {
        .header__about-me__contact-info {
          width: 90%;
          font-size: 14px; } }
      @media (min-width: 760px) {
        .header__about-me__contact-info {
          width: 300px; } }
      .header__about-me__contact-info__item {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .header__about-me__contact-info__item__text {
          text-decoration: none;
          color: #153a54;
          padding: 4px 4px 4px 40px; }
          @media (min-width: 600px) {
            .header__about-me__contact-info__item__text {
              padding: 4px 4px 4px 10px; } }
          @media (min-width: 760px) {
            .header__about-me__contact-info__item__text {
              padding: 12px 12px 12px 3vw; } }
        .header__about-me__contact-info__item__icon {
          border: 3px solid #bfc215;
          border-radius: 18px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 15px 15px;
          min-width: 25px;
          min-height: 25px;
          margin: 3px; }
        .header__about-me__contact-info__item__icon_birth-date {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_birth-date.svg"); }
        .header__about-me__contact-info__item__icon_phone {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_phone.svg"); }
        .header__about-me__contact-info__item__icon_e-mail {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_e-mail.svg"); }
        .header__about-me__contact-info__item__icon_address {
          background-image: url("./components/cv-page/header/__header__contact-info__images/header__contact-info__image_address.svg"); }
    .header__about-me__welcome-text {
      margin-bottom: 14px;
      text-align: center;
      width: 80%; }
      @media (min-width: 600px) {
        .header__about-me__welcome-text {
          width: 90%; } }
      @media (min-width: 760px) {
        .header__about-me__welcome-text {
          width: 70%;
          font-size: 14px;
          margin-bottom: 3vw; } }

.portfolio {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .portfolio__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .portfolio__el {
        width: 50%;
        height: 50vw; } }
  .portfolio__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .portfolio__text {
        background-color: white; } }
    @media (min-width: 760px) {
      .portfolio__text {
        background-color: white; } }
    .portfolio__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 175px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .portfolio__text_break {
          color: black;
          width: 180px; } }
      @media (min-width: 760px) {
        .portfolio__text_break {
          color: black;
          width: 290px;
          font-size: 120px;
          line-height: 80px;
          height: 240px; } }
  .portfolio__content {
    background-color: white; }
    @media (min-width: 600px) {
      .portfolio__content {
        background-color: black; } }

.competence {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .competence__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .competence__el {
        width: 50%;
        height: 50vw; } }
  .competence__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .competence__text {
        background-color: black; } }
    @media (min-width: 760px) {
      .competence__text {
        background-color: black; } }
    .competence__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 175px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .competence__text_break {
          color: white;
          width: 180px; } }
      @media (min-width: 760px) {
        .competence__text_break {
          color: white;
          width: 290px;
          font-size: 120px;
          line-height: 80px;
          height: 240px; } }
  .competence__content {
    background-color: white; }

.competence-bars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  @media (min-width: 900px) {
    .competence-bars {
      margin-bottom: 50px; } }
  .competence-bars__section-name {
    margin: 0 0 30px 10px;
    background-color: rgba(10, 10, 10, 0);
    display: flex; }
    @media (min-width: 760px) {
      .competence-bars__section-name {
        margin: 50px 0 20px 7px; } }
    .competence-bars__section-name__icon_competence {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 8px 0 0 0;
      height: 22px;
      width: 22px;
      background-image: url("./components/cv-page/main/competence/competence__section-name__icon_competence.svg"); }
      @media (min-width: 760px) {
        .competence-bars__section-name__icon_competence {
          margin: 4px 0 0 6px;
          height: 33px;
          width: 33px; } }
    .competence-bars__section-name__text_competence {
      margin: 0 0 0 8px;
      text-transform: capitalize;
      font-size: 26px; }
      @media (min-width: 760px) {
        .competence-bars__section-name__text_competence {
          font-size: 29px;
          font-weight: bold; } }
  .competence-bars__el {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (min-width: 900px) {
      .competence-bars__el {
        margin: 2px 0; } }
    .competence-bars__el__text {
      margin-left: 8px;
      font-size: 15px;
      text-transform: capitalize; }
      @media (min-width: 900px) {
        .competence-bars__el__text {
          margin-left: 10px;
          font-size: 18px; } }
    .competence-bars__el__bar {
      margin-right: 8px;
      width: 70%;
      height: 14px;
      border: 3px solid black;
      border-radius: 9px;
      display: flex;
      justify-content: flex-start; }
      @media (min-width: 900px) {
        .competence-bars__el__bar {
          margin-right: 28px;
          width: 60%;
          height: 11px;
          border-radius: 8px; } }
      .competence-bars__el__bar_filling {
        height: 8px;
        border-radius: 8px;
        background-color: black;
        border: 3px solid black; }
        @media (min-width: 900px) {
          .competence-bars__el__bar_filling {
            height: 5px;
            border-radius: 5px; } }
      .competence-bars__el__bar_filling_first {
        width: 85%; }
      .competence-bars__el__bar_filling_second {
        width: 80%; }
      .competence-bars__el__bar_filling_third {
        width: 95%; }
      .competence-bars__el__bar_filling_fourth {
        width: 50%; }
      .competence-bars__el__bar_filling_fifth {
        width: 40%; }
      .competence-bars__el__bar_filling_last {
        width: 60%; }

.education {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .education__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .education__el {
        width: 50%;
        height: 50vw; } }
  .education__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .education__text {
        background-color: white; } }
    @media (min-width: 760px) {
      .education__text {
        background-color: white; } }
    .education__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 190px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .education__text_break {
          color: black;
          width: 190px; } }
      @media (min-width: 760px) {
        .education__text_break {
          color: black;
          width: 290px;
          font-size: 120px;
          line-height: 80px;
          height: 240px; } }
  .education__content {
    background-color: white; }
    @media (min-width: 600px) {
      .education__content {
        background-color: black; } }

.experience {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .experience__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .experience__el {
        width: 50%;
        height: 50vw; } }
  .experience__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .experience__text {
        background-color: black; } }
    @media (min-width: 760px) {
      .experience__text {
        background-color: black; } }
    .experience__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 259px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .experience__text_break {
          color: white;
          width: 259px; } }
      @media (min-width: 760px) {
        .experience__text_break {
          color: white;
          width: 340px;
          font-size: 120px;
          line-height: 80px;
          height: 310px; } }
  .experience__content {
    background-color: white; }

.interests {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; }
  .interests__el {
    width: 100vw;
    height: 300px; }
    @media (min-width: 600px) {
      .interests__el {
        width: 50%;
        height: 50vw; } }
  .interests__text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .interests__text {
        background-color: white; } }
    @media (min-width: 760px) {
      .interests__text {
        background-color: white; } }
    .interests__text_break {
      color: white;
      font-family: 'Rokkitt', serif;
      width: 290px;
      height: 180px;
      font-size: 74px;
      line-height: 58px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-weight: bold; }
      @media (min-width: 600px) {
        .interests__text_break {
          color: black;
          width: 290px; } }
      @media (min-width: 760px) {
        .interests__text_break {
          color: black;
          width: 370px;
          font-size: 120px;
          line-height: 80px;
          height: 320px; } }
  @media (min-width: 600px) {
    .interests__content {
      background-color: black; } }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }
